body {
  background: #FACAC0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.button-up, .psm-on {
  border-radius: 6px;
  border: 2px solid red;
  font-size: 19px;
}

.button-down, .psm-off {
  border-radius: 6px;
  border: 2px solid blue;
  font-size: 19px;
}
